.main {
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 12px 20px;
  border-radius: 8px;
}

.previewContainer {
  margin-bottom: 24px;
}

.topBar {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 12px;
}
.heading {
  margin: 0;
  font-weight: 600;
}
.controls {
  display: flex;
  column-gap: 12px;
}
