.form {
  margin-bottom: 16px;
  width: fit-content;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 12px 20px;
  border-radius: 8px;
}
.heading {
  margin-bottom: 6px;
}
.label {
  font-size: 14px;
}

.fileUploadGroup {
  display: flex;
  column-gap: 12px;
}

.fileUploadContainer {
  padding: 12px;
  border: 1px dashed #303030;
  border-radius: 10px;
  width: fit-content;
  background-color: #f9fbfc;
  display: flex;
  align-items: center;
}

.fileUploadContainer.hasFile {
  border-color: #16a34a;
}

.fileUploadInput {
  font-size: 14px;
}

.fileUploadInput::file-selector-button {
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  width: fit-content;
  font-size: 14px;
  background-color: rgb(48, 48, 48);
  color: #fff;
}

.fileUploadInput::file-selector-button:is(:hover) {
  background-color: rgb(26, 26, 26);
}

.fileUploadInput::file-selector-button:is(:active) {
  padding-block: 7px 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
}

/* .fileUploadInput::-webkit-file-upload-button */

.fileUploadButtons {
  display: flex;
  flex-direction: column;
  row-gap: 6px;
}
