.filter-bar {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.sort-box,
.filter-box {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.clear-btn {
  background: transparent;
  border: 1px solid #999;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 6px;
  color: #444;
}

.clear-btn:hover {
  background-color: #eee;
}
.limit-select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}
