:root {
  --sidebar-width: 250px;
  --content-max-width: 1000px;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  grid-area: header;
  background-color: #f4f4f4;
  padding: 10px 16px;
}

aside {
  grid-area: aside;
  background-color: #ddd;
  padding: 1rem;
}

main {
  grid-area: main;
  padding: 1rem;
  max-width: var(--content-max-width);
}

footer {
  grid-area: footer;
  background-color: #f4f4f4;
  text-align: center;
}

/* reset starts */
.link-unstyled {
  text-decoration: none;
}

.list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* reset ends */
.bold {
  font-weight: 700;
}
.disabled {
  pointer-events: none;
  opacity: 0.4;
  cursor: default;
}
/* form */
.form__field:not(:last-child) {
  margin-bottom: 12px;
}
.form__field label {
  display: block;
}
.form {
  width: fit-content;
  min-width: 340px;
}

/* base elements starts */
.input,
.select {
  padding: 6px 8px 6px 12px;
  width: 100%;
}
.select {
  border-radius: 6px;
}
/* base elements ends */

/* modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* General popup */
.popup {
  position: relative;
}
.popup__close {
  /* position: absolute; */
  top: 0;
  right: 0;
}
/* element popup */
.new-element__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* new element */

.new-element__button {
  display: flex;
  align-items: center;
  column-gap: 6px;
  background-color: transparent;
  padding: 6px 4px;
  width: 100%;
  border-radius: 8px;
  cursor: pointer;
  border: none;
  font-size: 16px;
}
.new-element__button:hover {
  background-color: #f1f1f1;
}
.new-element__list li:not(:last-child) {
  margin-bottom: 4px;
}

/* buttons starts */
.button {
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}
.button.button--secondary {
  color: #303030;
  background-color: #fff;
  box-shadow: 0rem -0.0625rem 0rem 0rem #b5b5b5 inset, 0rem 0rem 0rem 0.0625rem rgba(0, 0, 0, 0.1) inset,
    0rem 0.03125rem 0rem 0.09375rem #fff inset;
}
.button.button--secondary:hover {
  background-color: #fafafa;
}
.button.button--secondary:active {
  box-shadow: -0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.122) inset, 0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.122) inset,
    0rem 0.125rem 0.0625rem 0rem rgba(26, 26, 26, 0.2) inset;
}
.button.button--primary {
  background-color: rgb(48, 48, 48);
  color: #fff;
}
.button.button--primary:hover {
  background-color: rgba(26, 26, 26, 1);
}
.button.button--primary:disabled,
.button.button--secondary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* buttons ends */
/* links starts */
.link {
  font-size: 1rem;
  line-height: 1.25rem;
  color: #005bd3;
  text-decoration: none;
}
.link:hover,
.link:focus,
.link:active {
  text-decoration: underline;
}
.link:hover,
.link:focus {
  color: #004299;
}
.link:active {
  color: #002e6a;
}

/* links ends */

/* top bar in dashboard */
.dashboard-topbar {
  display: flex;
  align-items: center;
  column-gap: 12px;
  margin-bottom: 16px;
}

/* tmp solution */
.columns {
  display: flex;
  flex-direction: column; /* default */
  gap: 16px;
}

.columns--side-by-side {
  flex-direction: row;
}

/* tmp solution */
.before {
  color: #a33;
}

.after {
  color: #2a7;
  font-weight: 500;
}

.arrow {
  opacity: 0.4;
}


/* combobox */
/* контейнер */
.combo {
  position: relative;
  width: 320px;
}

.combo__input {
  width: 100%;
  padding: 8px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.combo__select {
  /* position: absolute; */
  top: calc(100% + 2px);
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #fff;
  font-size: 14px;
  z-index: 10;
}
