.container {
  border: 1px dashed;
  padding: 10px;
  border-radius: 8px;
}

.changeSetCardMetaContainer {
  margin-bottom: 12px;
}

.changeSetCardMetaTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.changeSetCardMetaTop > p {
  margin: 0;
}

.changeSetCardMetaField {
  margin-block: 4px;
}

.summaryContainer > div:not(:last-child) {
  margin-bottom: 4px;
}

.summaryTitle {
  gap: 8px;
  display: flex;
  align-items: center;
}
