.container {
  padding: 16px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.changeSetCardMetaContainer {
  margin-bottom: 12px;
}

.changeSetCardMetaField {
  margin-block: 4px;
}

.summaryContainer > div:not(:last-child) {
  margin-bottom: 4px;
}

.summaryTitle {
  gap: 8px;
  display: flex;
  align-items: center;
}
