.pagination {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1rem;
}

.paginationButtons {
  display: flex;
  column-gap: 2px;
}

.paginationButton {
  background: #f4f4f4;
  border: 1px solid #ccc;
  text-decoration: none;
  display: inline-flex;
  color: #303030;
  padding: 6px 5px;
}

.paginationButton {
  background-color: rgba(235, 235, 235, 1);
  border: none;
}

.paginationButton:active {
  background-color: rgba(204, 204, 204, 1);
  box-shadow: 0rem 0.125rem 0.0625rem 0rem rgba(26, 26, 26, 0.2) inset, 0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.12) inset,
    -0.0625rem 0rem 0.0625rem 0rem rgba(26, 26, 26, 0.12) inset;
}

.paginationButton:hover {
  background-color: #e0e0e0;
}

.paginationButton.backward {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.paginationButton.forward {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.paginationInfo {
  font-weight: bold;
  color: #555;
}
