
.sideMenuList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.sideMenuItem a {
  padding: 6px 8px;
  text-decoration: none;
  width: 100%;
  display: inline-flex;
  column-gap: 6px;
  border-radius: 8px;
  /* transition: background-color 300ms ease; */
  align-items: center;
}
.sideMenuItem:not(:last-child) {
  margin-bottom: 4px;
}
.sideMenuItem a {
  color: #303030;
}

.sideMenuItem a:global(.active) {
  background-color: #fff;
}

.sideMenuItem a:not(:global(.active)):hover {
  background-color: #ffffff94;
}


.changesLinkWrapper {
  position: relative;
}

.linkForViewer {
  position: absolute;
  top: 0;
  right: 0;
  width: fit-content !important;
  &:hover {
    .viewerCircle {
      background-color: rgb(179, 6, 6);
    }
  }
  &:active {
    .viewerCircle {
      padding-block-start: 3px;
      padding-block-end: 1px;
    }
  }
}

.viewerCircle {
  transition: background-color 0.25s ease;
  border-radius: 100px;
  background-color: rgb(214, 12, 12);
  color: #fff;
  font-size: 12px;
  padding: 2px 5px;
}