.container {
  display: flex;
  justify-content: space-between;
}

.logout {
  padding: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  width: 22px;
}

.logout > span {
  width: 100%;
  height: 100%;
}
