.filterBar {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
  align-items: center;
}

.filterSelect,
.limitSelect,
.sortBox,
.filterBox {
  cursor: pointer;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.filterSelect
.limitSelect,
.sortBox {
  padding-inline-end: 1rem;
}

.clearBtn {
  background: transparent;
  border: 1px solid #999;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 6px;
  color: #444;
}

.clearBtn:hover {
  background-color: #eee;
}

